@charset "utf-8";
/*  Typical Devices Breakpoints
---------------------------------
Pequenas telas : até 600px
celular: de 601px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
Grandes Telas: acima de 1200px */



@media screen and (min-width:499px) {
    
body {
    background-image: url(../images/relogio3.jpg);
    background-repeat: no-repeat;
    background-size:190%;
    color: white
}

.Backbutton {
    margin-top: 20px;
    margin-left: 20px;
}


a#back {
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius:6px;
}

main {
    text-align: center;
    background-color: rgba(29, 29, 29, 0.582);
    margin: 30px; 
    border-radius: 30px;
    padding: 10px;
}

.quickloguin {
    background-color: rgba(240, 248, 255, 0.356);
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

ul>li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

div.formulario {
    margin-left:10% ;
    position: relative;
    width: 300px;
    height: 300px
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

input {
    display: block;
    border-radius:10px;
    background-color:rgb(255, 255, 255) ;
    width: 300px;
    height: 30px;
    margin-bottom: 5px;
    border-style: none;
    text-align: left;
    text-indent: 10px;
    font-weight: 700;

}

}

@media screen and (max-width:600px) {

}

@media screen and (min-width:601px) and (max-width:992px) {

}   

@media screen and (min-width:1100px) {

}