@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

menu.cabeçalho {
    background-color: rgb(13, 13, 13);
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 75px;
    align-items: center;
}

menu.cabeçalho-mobile {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    width: 80%;
    border: 1px solid white;
    border-radius: 30px;
    height: 45px;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.133);
}

img.logo {
    display: flex;
    margin-left: 10px;
    width: 35px;
    height: 35px;
}

nav.principal-desktop > a > p { /* Ativar para display: inline-block para desktop; */
    display: none;
}

nav.principal-mobile > a > p{
    display: inline-block;
    font-weight: 600;
    font-size: .8em;
    margin: 0px 15px;
}

nav.principal-mobile > a {
    text-decoration: none;
    color: white;
}

nav.principal-mobile > a:hover p {
    transform: translate(0px,-7px);
    transition: 1s;
}

nav.cadastro-login > a {
    color: white;
}

nav.cadastro-login > a > p {
    display: inline-block;
    margin: 0px 13px 0px 0px;
    justify-items: center;
    padding: 7px 15px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: .9em;
    font-weight: 600;
}

#botaocadastro:hover {
    transform: translateY(-10px);
}

nav.cadastro-login > a > p:hover {
    color: black;
    background-color: white;
    transform: translateY(-10px);
    transition-timing-function: cubic-bezier(0.5, 3, 1, 1);
    transition: 1s;
}
    
img.header {
    display: block;
    width: 100vw;
    height:500px;
    object-fit: cover;
    margin: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.583)
}

div.landing1 {
    
    background-color: rgb(13, 13, 13);
    width: 100vw;
    height: 700px;
}

div.landing1 > div.sub-landing1 {
    position: absolute;
    right: 50%;
    margin: 50px 0px;
    border-radius: 50px 50px 0px 0px;
    transform:translate(50%);
    background-color: white;
    width: 100%;
    height: 390px;
}

h1.landing {
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
}

main > div.landing2 {
    width: 100vw;
    height: 500px;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagens/relogio-main.png);
    background-color: black;
}