@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    
}


menu {
    background-color: rgb(30, 30, 30);
    position: relative;
    display: flex;
    color: white;
    font-weight: 500;
    backdrop-filter: blur(10px);
}

img.logo {
    width: 35px;
    padding: 15px 20px;
}

div.relogioheader {
    display: block;
    
}

img.relogioheader {
    display: block;
    width: 100vw;
    background-color: rgb(24, 24, 24);
    background-repeat: no-repeat;
    
}

nav > p{
    display: inline-block;
    padding: 20px 10px;
}

nav > p > a {
    color: white;
    text-decoration: none;
}

nav p:hover {
    transform: translateY(-5px);
    transition: 1s;
}

nav.user > p {
    
    border: 2px solid white;
    padding: 5px 15px;
    margin-top: 14px;
    border-radius: 7px;
    margin-right: 10px;
}

nav.user {
    position: absolute;
    right: 10px;
}

nav.user > p:hover {
    color: rgb(20, 20, 20);
    background-color: rgb(255, 255, 255);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1) ;
}

nav.user > p:hover a {
    color: rgb(0, 0, 0);
}