@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(13, 13, 13);
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

menu.cabeçalho {
    background-color: rgb(13, 13, 13);
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 75px;
    align-items: center;
}

menu.cabeçalho-mobile {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    width: 80vw;
    border: 1px solid white;
    border-radius: 30px;
    height: 45px;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(20px);
    background-color: c
}

img.logo {
    display: flex;
    margin-left: 10px;
    width: 35px;
    height: 35px;
}

nav.principal-desktop {
    display: none;
}

nav.principal-desktop > a > p {
    display: inline-block;
}

nav.principal-mobile > a > p{
    display: inline-block;
    font-weight: 600;
    font-size: .8em;
    padding: 0px 10px;
}

nav.principal-mobile > a {
    text-decoration: none;
    color: white;
}

nav.principal-mobile > a:hover p {
    transform: translate(0px,-7px);
    transition: 1s;
}

nav.cadastro-login {
    margin-right: 10px;
    
}

nav.cadastro-login > a {
    color: white;
}

nav.cadastro-login > a > p {
    display: inline-block;
    margin: 0px 15px 0px 0px;
    justify-items: center;
    padding: 7px 15px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: .9em;
    font-weight: 600;
}

#botaocadastro:hover {
    transform: translateY(-10px);
}

nav.cadastro-login > a > p:hover {
    color: black;
    background-color: white;
    transform: translateY(-10px);
    transition-timing-function: cubic-bezier(0.5, 3, 1, 1);
    transition: 1s;
}
    
img.header-celular {
    display: block;
    width: 100vw;
    height:80vh;
    object-fit: cover;
    margin: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.583)
}

img.header-desktop {
    display: none;
}

